.bg-pink {
  background-color: #feeae9;
}

.btn-pink {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  border-radius: 6px;
}

.bg-yellow {
  /* Linear */

  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
}

.bgpink {
  /* Linear */
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}

.bg-blue {
  /* Linear */
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}
